@model MockApi.Web.ViewModels.SettingViewModel

@{
    ViewBag.Title = "New Configuration";
    ViewBag.Subtitle = $"Editing {Model.Setting.Route}";
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Setting.Id)

    @Html.EditorForModel()
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/lib/editor")
}

