@model Sonovate.BackEnd.ViewModels.SettingViewModel
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@ViewBag.Subtitle</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group @Html.AddClassIfInvalid(x => x.Setting.Route)">
        @Html.LabelFor(x => x.Setting.Route, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Setting.Route, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Setting.Route, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group @Html.AddClassIfInvalid(x => x.Setting.StatusCode)">
        @Html.LabelFor(x => x.Setting.StatusCode, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Setting.StatusCode, Model.HttpStatusCodes, "Select a response status", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Setting.StatusCode, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group @Html.AddClassIfInvalid(x => x.Setting.HttpMethod)">
        @Html.LabelFor(x => x.Setting.HttpMethod, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Setting.HttpMethod, Model.HttpMethods, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Setting.HttpMethod, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group @Html.AddClassIfInvalid(x => x.Setting.ResponseJson)">
        @Html.LabelFor(x => x.Setting.ResponseJson, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Setting.ResponseJson, new { @class = "form-control editor", rows = 24, cols = 50 })
            @Html.ValidationMessageFor(x => x.Setting.ResponseJson, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</div>



